In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('Taxi_Set.csv')

In [24]:
df.head()

,trip_duration_sec,trip_duration_min,trip_duration_hr,distance_traveled_Km,KPH,wait_time_cost,distance_cost,fare_w_flag,tip,miscellaneous_fees,total_fare_new,num_of_passengers,surge_applied
0,748,12.47,0.207833,2.75,13.231756,4.97,4.27,11.94,24,6.30,42.24,1,False
1,1187,19.78,0.329667,3.43,10.404449,7.89,5.33,15.92,24,13.20,53.12,1,False
2,730,12.17,0.202833,3.12,15.382087,4.85,4.85,12.40,0,26.63,39.03,1,True
3,671,11.18,0.186333,5.63,30.214669,4.46,8.75,15.91,0,9.75,25.66,3,False
4,329,5.48,0.091300,2.09,22.883212,2.19,3.25,8.14,12,13.20,33.34,1,False

In [25]:
df.isnull().sum()

trip_duration_sec       0
trip_duration_min       0
trip_duration_hr        0
distance_traveled_Km    0
KPH                     0
wait_time_cost          0
distance_cost           0
fare_w_flag             0
tip                     0
miscellaneous_fees      0
total_fare_new          0
num_of_passengers       0
surge_applied           0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207596 entries, 0 to 207595
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   trip_duration_sec     207596 non-null  int64
 1   trip_duration_min     207596 non-null  float64
 2   trip_duration_hr      207596 non-null  float64
 3   distance_traveled_Km  207596 non-null  float64
 4   KPH                   207596 non-null  float64
 5   wait_time_cost        207596 non-null  float64
 6   distance_cost         207596 non-null  float64
 7   fare_w_flag           207596 non-null  float64
 8   tip                   207596 non-null  int64
 9   miscellaneous_fees    207596 non-null  float64
 10  total_fare_new        207596 non-null  float64
 11  num_of_passengers     207596 non-null  int64
 12  surge_applied         207596 non-null  bool
dtypes: bool(1), float64(9), int64(3)
memory usage: 19.2 MB

In [27]:
df.columns

Index(['trip_duration_sec', 'trip_duration_min', 'trip_duration_hr',
       'distance_traveled_Km', 'KPH', 'wait_time_cost', 'distance_cost',
       'fare_w_flag', 'tip', 'miscellaneous_fees', 'total_fare_new',
       'num_of_passengers', 'surge_applied'],
      dtype='object')

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df = df.drop(['trip_duration_sec', 'trip_duration_hr', 'wait_time_cost'], axis=1)

In [30]:
df.head()

,trip_duration_min,distance_traveled_Km,KPH,distance_cost,fare_w_flag,tip,miscellaneous_fees,total_fare_new,num_of_passengers,surge_applied
0,12.47,2.75,13.231756,4.27,11.94,24,6.30,42.24,1,False
1,19.78,3.43,10.404449,5.33,15.92,24,13.20,53.12,1,False
2,12.17,3.12,15.382087,4.85,12.40,0,26.63,39.03,1,True
3,11.18,5.63,30.214669,8.75,15.91,0,9.75,25.66,3,False
4,5.48,2.09,22.883212,3.25,8.14,12,13.20,33.34,1,False

In [31]:
df['surge_applied'] = df['surge_applied'].astype(int)

In [32]:
df.head()

,trip_duration_min,distance_traveled_Km,KPH,distance_cost,fare_w_flag,tip,miscellaneous_fees,total_fare_new,num_of_passengers,surge_applied
0,12.47,2.75,13.231756,4.27,11.94,24,6.30,42.24,1,0
1,19.78,3.43,10.404449,5.33,15.92,24,13.20,53.12,1,0
2,12.17,3.12,15.382087,4.85,12.40,0,26.63,39.03,1,1
3,11.18,5.63,30.214669,8.75,15.91,0,9.75,25.66,3,0
4,5.48,2.09,22.883212,3.25,8.14,12,13.20,33.34,1,0

In [33]:
df.columns

Index(['trip_duration_min', 'distance_traveled_Km', 'KPH', 'distance_cost',
       'fare_w_flag', 'tip', 'miscellaneous_fees', 'total_fare_new',
       'num_of_passengers', 'surge_applied'],
      dtype='object')

In [34]:
X = df.drop('total_fare_new', axis=1)
Y = df['total_fare_new']

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

In [38]:
y_pred = model.predict([[12.47,2.75,13.231756,4.27,11.94,24,6.30,1,0]])
print(y_pred)

[42.24]

C:\Users\brock\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(